In [ ]:
#Get a pandas dataframe from Amazon PostgreSQL RDS
#L. Morris September 2019

In [1]:
import pandas as pd

In [2]:
import psycopg2
connection = psycopg2.connect(
    host = 'database-2.ciks9ot9g63b.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'mypassword',
    database='postgres'
    )
cursor=connection.cursor()

In [3]:
def read_sql_file(path):
    rd = open(path, 'r')
    sqlFile = rd.read()
    rd.close
    print(sqlFile)
    return sqlFile

In [4]:
sqlFile = read_sql_file("/Users/lindseyclark/Desktop/sql_titanic.sql")

select *
from titanic.titantic_train
limit 100;

In [5]:
pd.read_sql(sqlFile, con=connection)

,passengerid,survived,pclass,name,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53,C123,S
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8,,S
5,6,0,3,"Moran, Mr. James",NaN,0,0,330877,8,,Q
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",2.0,3,1,349909,21,,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,0,2,347742,11,,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,1,0,237736,30,,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",20.0,0,0,A/5. 2151,8,,S
13,14,0,3,"Andersson, Mr. Anders Johan",39.0,1,5,347082,31,,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,0,0,350406,7,,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",55.0,0,0,248706,16,,S
16,17,0,3,"Rice, Master. Eugene",2.0,4,1,382652,29,,Q
17,18,1,2,"Williams, Mr. Charles Eugene",NaN,0,0,244373,13,,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,1,0,345763,18,,S
19,20,1,3,"Masselmani, Mrs. Fatima",NaN,0,0,2649,7,,C
20,21,0,2,"Fynney, Mr. Joseph J",35.0,0,0,239865,26,,S
21,22,1,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",15.0,0,0,330923,8,,Q
23,24,1,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",8.0,3,1,349909,21,,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,1,5,347077,31,,S
26,27,0,3,"Emir, Mr. Farred Chehab",NaN,0,0,2631,7,,C
27,28,0,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,0,0,330959,7,,Q
29,30,0,3,"Todoroff, Mr. Lalio",NaN,0,0,349216,7,,S
...,...,...,...,...,...,...,...,...,...,...,...
70,71,0,2,"Jenkin, Mr. Stephen Curnow",32.0,0,0,C.A. 33111,10,,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",16.0,5,2,CA 2144,46,,S
72,73,0,2,"Hood, Mr. Ambrose Jr",21.0,0,0,S.O.C. 14879,73,,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",26.0,1,0,2680,14,,C
74,75,1,3,"Bing, Mr. Lee",32.0,0,0,1601,56,,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",25.0,0,0,348123,7,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",NaN,0,0,349208,7,,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",NaN,0,0,374746,8,,S
78,79,1,2,"Caldwell, Master. Alden Gates",0.0,0,2,248738,29,,S
79,80,1,3,"Dowdell, Miss. Elizabeth",30.0,0,0,364516,12,,S
80,81,0,3,"Waelens, Mr. Achille",22.0,0,0,345767,9,,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",29.0,0,0,345779,9,,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",NaN,0,0,330932,7,,Q
83,84,0,1,"Carrau, Mr. Francisco M",28.0,0,0,113059,47,,S
84,85,1,2,"Ilett, Miss. Bertha",17.0,0,0,SO/C 14885,10,,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",33.0,3,0,3101278,15,,S
86,87,0,3,"Ford, Mr. William Neal",16.0,1,3,W./C. 6608,34,,S
87,88,0,3,"Slocovski, Mr. Selman Francis",NaN,0,0,SOTON/OQ 392086,8,,S
88,89,1,1,"Fortune, Miss. Mabel Helen",23.0,3,2,19950,263,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",24.0,0,0,343275,8,,S
90,91,0,3,"Christmann, Mr. Emil",29.0,0,0,343276,8,,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",20.0,0,0,347466,7,,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",46.0,1,0,W.E.P. 5734,61,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",26.0,1,2,C.A. 2315,20,,S
94,95,0,3,"Coxon, Mr. Daniel",59.0,0,0,364500,7,,S
95,96,0,3,"Shorney, Mr. Charles Joseph",NaN,0,0,374910,8,,S
96,97,0,1,"Goldschmidt, Mr. George B",71.0,0,0,PC 17754,34,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",23.0,0,1,PC 17759,63,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",34.0,0,1,231919,23,,S
99,100,0,2,"Kantor, Mr. Sinai",34.0,1,0,244367,26,,S